/* Stili Globali */
.root {
    -fx-background-color: black;
}

/* Stile per il contenitore del titolo */
#titleContainer {
    -fx-background-color: black;
}

/* Stile per il contenitore del titolo */
#searchLabelTitle {
    -fx-text-fill: white;
    -fx-font-family: 'System';
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}


/* Stile per la griglia delle ricette */
#scrollPane {
    -fx-background-color: black;
}

#cardContainer2 {
    -fx-background-color: black;
    -fx-padding: 25px;
}

#cardContainer2 .border-pane {
    -fx-max-width: Infinity;
    -fx-pref-width: 100%;
}

.image-view {
    -fx-opacity: 0.8;
}